<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border='1' style="width:100%">
        <tr>
          <th>Name</th>
          <th>Phone</th> 
          <th>Password</th>
          <th>Option</th>
        </tr>
        <%for(let i=0;i<dataCustomer.length;i++){%>
                <tr>
                        <td><%=dataCustomer[i].name%></td>
                        <td><%=dataCustomer[i].phone%></td> 
                        <td><%=dataCustomer[i].password%></td>
                        <td><a href="/customer/delete/<%=dataCustomer[i].id%>">delete</a>
                            <a href ="customer/edit/<%=dataCustomer[i].id%>">edit</a>
                        
                        </td>
                      </tr>
            <%}%>
      </table>
      <br><br>
      <a href="/customer/addCustomer"><input type="submit" value="add customer"></a>
</body>
</html>